.information {
  margin: 50px auto;
  text-align: center;
  font-family: "Marcellus", serif;
}

.showcase-about {
  margin: 0 auto;
  width: 100%;
  max-width: 700px;
  font-family: "Marcellus", serif;

  h2 {
    margin: 20px 20px;
  }

  p {
    margin: 20px 20px;
  }
}
