footer {
  margin: 50px auto;
  width: 100%;
  max-width: 700px;
  font-family: "Marcellus", serif;
  display: flex;

  a {
    margin: auto 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    img {
      max-width: 50px;
      max-height: 50px;
    }
  }

  h3 {
    margin: auto 20px;
  }
}
