.services {
  margin: 50px auto;
  text-align: center;
  font-family: "Marcellus", serif;
}

.showcase-home {
  margin: 0 auto;
  display: flex;
  width: 100%;
  max-width: 1000px;
  font-family: "Marcellus", serif;

  @media all and (max-width: 680px) {
    flex-direction: column;
    align-items: center;
  }

  .video {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 500px;

    @media all and (max-width: 680px) {
      height: 300px;
    }

    iframe {
      width: 100%;
      height: 100%;
      max-height: 350px;
    }
  }

  .blessings {
    width: 100%;
    max-width: 500px;

    .blessings-flex {
      margin: 20px;
      display: flex;
      align-items: center;

      .icon {
        .icon-image {
          max-width: 75px;
        }
      }

      .desc {
        margin: 0 20px;
        width: auto;
        max-width: 400px;

        h2 {
          margin-bottom: 15px;
        }

        p {
          margin-top: 15px;
          font-weight: bolder;
        }
      }
    }
  }
}
