.Nav {
  display: flex;
  padding: 0;
  margin: 0;
  box-sizing: 0;

  ul {
    display: flex;
    float: right;
    padding: 0;
    margin: 0;
    list-style: none;
    li {
      a {
        text-decoration: none;
        color: black;
      }
    }
  }
}
