.Nav {
  margin: 0 20px;
  min-height: 75px;
  display: flex;
  justify-content: space-around;
  align-items: center;

  @media all and (max-width: 680px) {
    flex-direction: column;
    position: sticky;
    top: 0;
    background-color: white;
    width: 100%;
    margin: 0 auto;
  }

  .logo {
    width: 70vh;

    @media all and (max-width: 680px) {
      display: flex;
      justify-content: center;
      width: 100vw;
    }

    img {
      max-width: 200px;
      height: 100%;

      @media all and (max-width: 680px) {
        margin: 0 auto;
      }
    }
  }

  ul {
    width: 25vh;
    display: flex;
    margin: 0 100px;
    padding: 0;
    flex-direction: row;
    justify-content: space-around;
    column-gap: 65px;
    font-family: "Marcellus", serif;
    font-weight: bolder;
    font-size: 20px;

    @media all and (max-width: 680px) {
      width: 100%;
      margin: 20px auto;
      justify-content: center;
      column-gap: 100px;

      @media all and (max-width: 425px) {
        column-gap: 25px;
      }
    }

    li {
      list-style: none;

      a {
        text-decoration: none;
        color: black;
      }
    }
  }
}
