.avail {
  margin: 50px auto;
  text-align: center;
  font-family: "Marcellus", serif;
}

.showcase-pricing {
  margin: 0 auto;
  display: flex;
  width: 100%;
  max-width: 1000px;
  font-family: "Marcellus", serif;

  h2 {
    text-align: center;
  }

  form {
    width: 100%;
    max-width: 30%;

    .form-group {
      margin: 25px auto;
      max-width: 225px;

      .form-control {
        margin: 25px auto;
        display: block;
        width: 100%;
        height: 2.5rem;
        padding: 0;
        font-family: "Marcellus", serif;
        text-indent: 20px;
      }

      .form-button {
        text-indent: 0;
        background-color: #d29f3a;
        border-radius: 5px;
      }
    }
  }

  .pricing {
    width: 100%;
    max-width: 70%;

    .pricing-group {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 20px;

      .product {
        display: flex;
        flex-direction: column;
        max-width: 300px;
        height: 210px;
        border: 2px solid black;

        .selection {
          width: 100%;
          height: 100%;
          margin: 5px auto;
          text-align: center;
          font-size: 18px;
          border-bottom: 2px solid black;
        }

        p {
          margin: auto 20px;
          text-align: justify;
        }

        button {
          margin: auto;
          margin-top: 5px;
          width: 100%;
          max-width: 250px;
          margin-bottom: 10px;
          background-color: #d29f3a;
          border-radius: 5px;
        }
      }
    }
  }
}
